 .container {
  display: flex;
  border: 1px solid black; 
  align-content: flex-start;
  flex-wrap: wrap;
  height: 850px;
  width: 900px;
  flex-direction: row;
}  

.box {
  border: 1px solid black;
  height: 425px;
  width: 450px;
  box-sizing: border-box;
}

.dimension {
  margin-bottom: 20px;
}

.reset {
  margin-top: 10px;
}