 .container {
  display: flex;
  width: 550px;
  height: 100px;
  flex-wrap: wrap;
}  

.box {
  border: 2px solid black;
  height: 20;
  width: 10px;
  margin: 1px 0px;
  padding: 10px;
  flex-shrink: 1;
}

.dimension {
  margin-bottom: 20px;
}

.reset {
  margin-top: 350px;
}